doctype html
html
  head
    title Reset Password
    link(rel='stylesheet', href='style.css')
  body
    form(method='POST')
      .form-group
        .login-page
          .form class
            img(src='https://ik.imagekit.io/m1ke1magek1t/default_image/doDO_white_backgroundLogo_L5KDzOrig.png', alt='')
            h1 Reset Password
            input.form-control(type='password', name='password', value='', placeholder='New password', autofocus='')
            input(type='password', name='confirmPassword', value='', placeholder='Confirm password')
            button(type='submit') Update Password
